@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@import url(./normalize.css);

/* 스타일 초기화 */
/* 링크 스타일 */
a {
    text-decoration: none;
    color: inherit;
}

html{
    font-size: 10px;
}

body *,
body *::before,
body *::after{
    box-sizing: border-box;
}

body{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 400;
    background-color: white;
    color: #181818;
    font-size: 1.4rem;
}

/* 레이아웃 */
.container {
    background-color: silver;
}

.header, .visual, .main, .slogan, .footer-inner{
    width: 940px;
    margin: 0 auto;
}
/* 헤더 */
.header {
    background-color: #fff;
    width: 940px;
    /* 빼고 난 뒤의 남는 여백을 자동으로 계산 */
    margin: 0 auto;
    position: relative;
    border-radius: 0 0 15px 15px;
    padding: 0 30px 50px;
}

 /* 로고 */
 .logo {
     position: absolute;
     margin: 0;
     top: 35px;
     left: 65px;
 }

 .logo a{
     display: block;
 }

 .logo img{
     vertical-align: middle;
 }

 /* 안내 링크 */

 .member{
     margin: 0;
     list-style: none;
     padding-left: 0;
     font-size: 0;
     text-align: right;
     padding-top: 2px;
     padding-bottom: 2px;
     position: relative;
     left:10px;
 }


 .member li{
     display: inline;
     font-size: 1.4rem;
     display: inline-block;
     /* inline은 line heigth에 따라 위치가 결정된다. */
 }

 .member a{
     /* 클릭할 수 있는 영역이 늘어나 접근성이 향상된다! */
     display: inline-block;
     padding: 8px 10px;
     text-transform: uppercase;
 }

.visual{
    background-color: lime;
    height: 10vh;
}

.main{
    background-color: blue;
    display: flow-root;
    padding: 30px 15px;
    /* display: flex;
    justify-content: space-between;
    padding: 30px; */
}

.group{
    height: 60vh;
    float: left;
    margin: 0 15px;
}
.group1 {
    background-color: pink;
    width: 250px;
    float: right;
}

.group2 {
    background-color: skyblue;
    width: 380px;
}

.group3 {
    background-color: orange;
    width: 190px;
}

.slogan{
    background-color: purple;
    height: 10vh;
}

.footer{
    background-color: tomato;
}

.footer-inner{
    background-color: gray;
    height: 10vh;
}
