@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@import url(./normalize.css);


html{
    font-size: 10px;
}

body *,
body *::before,
body *::after{
    box-sizing: border-box;
}

body{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 400;
    background-color: white;
    color: #181818;
    font-size: 1.4rem;
}

/* 레이아웃 */
.container {
    background-color: silver;
}

.header, .visual, .main, .slogan, .footer-inner{
    width: 940px;
    margin: 0 auto;
}

.header {
    background-color: yellow;
    height: 10vh;
    width: 940px;
    /* 빼고 난 뒤의 남는 여백을 자동으로 계산 */
    margin: 0 auto;
}

.visual{
    background-color: lime;
    height: 10vh;
}

.main{
    background-color: blue;
    display: flow-root;
    padding: 30px 15px;
    /* display: flex;
    justify-content: space-between;
    padding: 30px; */
}

.group{
    height: 60vh;
    float: left;
    margin: 0 15px;
}
.group1 {
    background-color: pink;
    width: 250px;
    float: right;
}

.group2 {
    background-color: skyblue;
    width: 380px;
}

.group3 {
    background-color: orange;
    width: 190px;
}

.slogan{
    background-color: purple;
    height: 10vh;
}

.footer{
    background-color: tomato;
}

.footer-inner{
    background-color: gray;
    height: 10vh;
}
